* {
    box-sizing: border-box;
}

body{
    text-align: center;
    color: antiquewhite;
    background-color: rgb(6,10,13);
}




.container {
    padding: 20px;
    line-height: 1.43;
    /* z-index: 1; */
}
img.background-img{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.btn{
    background-color: antiquewhite;
    margin: 15px;
}
.card:hover{
    /* on hover turn lighter color with opacity of 50% */
  transition: all 0.5s ease-in; 
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  content: none;
}

#M{
    text-align: right;
    z-index: 0;
}
#B{
    text-align: left;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 85px;
}

#links{
    height: 32px;
    width: auto;
    opacity: 1;
    margin: 5px;
    display: flex;
    align-items: center;
}

img{
    margin: 3px;

}
div.education{
    display: flex;
    justify-content: center;
}
.ccny,
.columbia{
    margin: 15px;
    width: 100px;
    height: auto;
    position: relative;
}
.container-1{
    margin: 25px;
    height: auto;
    width: auto;
    padding: 15px;
    border: 1px solid antiquewhite;
    position: sticky;
}
.card{
    margin: 25px;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#clock {


}
hr {
    margin: 5px;
}


aside {
    display: flex;

}

footer {
    text-align: center;
    font-size: small;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }